# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
tmp/
temp/
*.tmp

# Build
dist/
build/
